@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --headline-color: hotpink;
    --background-color: white;
    --text-color: rgba(255, 255, 255, 0.5);
}

html,body {
    margin: 0;
    padding:0;
    overflow-x: hidden;
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    text-align: center;
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

.landing-page{
    height: 100vh;
    width: 100vw;
}


.canvas-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#text-behind, #text-front, #text-behind-blur {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    font-size: clamp(24px, 20vw, 200px);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    line-height: 0.8;
}

#text-behind {
    color: var(--headline-color);
    z-index: 1;
}

#text-behind-blur, #profile-text-behind-blur, #gallery-text-behind-blur{
    color: var(--headline-color);
    filter: blur(7.5px);
    -webkit-filter: blur(7.5px);
    z-index: 0;
}

#text-front {
    /* set text-color to transparent to only show the outline */
    color: transparent;
    text-stroke: 2px var(--headline-color);
    -webkit-text-stroke: 2px var(--headline-color);
    z-index: 3;
}
.profile{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
}

.gallery{
    height: 100vh;
    width: 500vw;
    padding-left: 3vw;
}

.chapter {
    height: 10vh;
    color: var(--headline-color);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: baseline;
    font-size: clamp(24px, 20vw, 70px);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    line-height: 0.8;
    z-index: 0;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    height: 15vh;
}

#profile-container{
    height: 25vh;
}

#profile, #profile-text-behind-blur, #gallery, #gallery-text-behind-blur {
    position: absolute;
    text-align: start;
}

.description{
    color: black;
    text-align: start;
}

.description button {
            background-color: hotpink;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 20px;
        }

.bottom{
    height: 10vh;
    width: 100vw;
    background-color: hotpink;
    color: white;
}
.content-container{
    height: 80vh;
    width: 100vw;
    /* border: 2px solid black; */
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.content {
    color: black;
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 350vw;
     /* border: 2px solid #333; */
    
}

#img{
    z-index:1;
    translate: (0%, 10%);
}

.book, .phone, .candy, .MM{
            cursor: pointer;
            transition: transform 0.3s ease;
            max-height: 100%;
            flex-shrink: 0; /* Prevent items from shrinking */
            
        }
        
        .book:hover, .phone:hover, .candy:hover, .MM:hover {
            transform: scale(1.02);
        }

.dog,.book,.phone, .candy, .MM {
    max-height: 100%;
}
.dog image {
    max-height: 100%;
}

.book image {
    max-height: 100%;
}

.phone image {
    max-height: 100%;
    width: 60%;
}

.candy image {
    max-height: 100%;
}

.MM image {
    max-height: 100%;
}

.nav-links {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 100;
    text-decoration: none;
    justify-content: left;
    margin: 20px;
    padding: 20px;
}

.nav-links a{
    text-decoration: none;
    color: hotpink;
    font-weight: bold;
    padding-right: 20px;
}

a.CV{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a.CV:hover{
    color: hotpink;
}

.work_title{
    text-align: left;
    margin-left: 20%;
}